body{
    background-color: teal;
}

h1{
    text-align: center;
    color: white;
    text-align: 50px;
}

.screen{
    background-color: grey;
    border: solid black 2px;
    color: white;
    font-size: medium;
    width: 100%;
    cursor: default;
    padding: 10px;
    margin: auto;
    margin-bottom: 10px;
}

input[type='button']:hover{
    background-color: whitesmoke;

}

input[type='button']:active{
    background-color: lightskyblue;
}

.operator{
    background-color: lightseagreen;
    padding: 5px;
    color: black;
    border: solid black 2px;
    width: 100%;
    height: 40px;
    cursor: pointer;
}

.number{
    height: 5px;
    height: 40px;
    color: black;
    border: solid black 2px;
    width: 100%;
}

.decimal{
    background-color: lightblue;
    padding: 5px;
    color: black;
    border: solid black 2px;
    width: 100%;
    height: 40px;
    cursor: pointer;
}

.clear{
    background-color: lightblue;
    padding: 5px;
    color: black;
    border: solid black 2px;
    width: 100%;
    height: 40px;
    cursor: pointer;
    margin: auto;
    margin-bottom: 10px;
}
.equal{
    background-color: lightblue;
    padding: 5px;
    color: black;
    border: solid black 2px;
    width: 100%;
    height: 40px;
    cursor: pointer;
}

.container{
    background-color: white;
    padding: 15px;
    color: black;
    border: solid black 2px;
    width: 40%;
    margin: 100px auto;
    display: block;
    align-self: center;
    border-radius: 10px;
    box-shadow: 5x 10px 20px black; 
}

table{
    width: 100%;
}